body,html {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading h1 {
  font-size: 40px;
  font-weight: bold;
}

.heading p {
  font-size: 20px;
}

form {
  width: 100%;
}

.form-group {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  width: 50%;
  height: 50px;
}

input {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  width: 50%;
  height: 30px;
}

.btn {
  border-radius: 7px;
  border: none;
}

.btn-standard {
  background-color: black;
  color: white;
  font-size: 26px;
  width: 10%;
  cursor: pointer;
}

.loading {
  font-size: 50px;
  font-weight: bold;
}


/* Navigation */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-logo-container:hover {
  color: grey;
}

.navbar-logo-container p {
  font-size: 30px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar-logo {
  font-size: 60px;
  margin-left: 1rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-login, 
.navbar-register {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  padding: 7px;
}

.navbar-login p, 
.navbar-register p {
  margin-left: 5px;
}
.navbar-login:hover, 
.navbar-register:hover {
  color: grey;
}


/* Post Item */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.post-user {
  display: flex;
  font-size: 24px;
  align-items: center;
  padding: 1rem;
}

.post-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.post-user img {
  height: 45px;
  width: 45px;
  margin-right: 1rem;
}

.post-user h4 {
  margin: 0;
}

.post-content {
  margin-left: 1rem;
}

.post-content p {
  font-size: 20px;
}

.post-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.post-link:hover {
  color: grey;
}

.comment-card {
  width: 30%;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 3rem;
  background-color: azure;
}

.textarea-group {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea-group p {
  font-size: 20px;
  font-weight: bold;
}

/* User Page */

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.user-info img {
  height: 180px;
  width: 180px;
}

.user-post {
  width: 50%;
  height: 10%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
}

.post-footer {
  text-align: right;
  margin: 5px;
  font-size: 15px;
}