.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading h1 {
  font-size: 40px;
  font-weight: bold;
}

.heading p {
  font-size: 20px;
}

form {
  width: 100%;
}

.form-group {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  height: 40px
}

input {
  border-radius: 10px;
  border-color: grey;
  border-width: 1px;
  width: 50%;
}

.btn {
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.btn-standard {
  background-color: black;
  color: white;
  font-size: 26px;
  width: 10%;
}

.loading {
  font-size: 50px;
  font-weight: bold;
}





/* Navigation */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-logo-container:hover {
  color: grey;
}

.navbar-logo-container p {
  font-size: 30px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar-logo {
  font-size: 60px;
  margin-left: 1rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-login, 
.navbar-register {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  padding: 7px;
}

.navbar-login p, 
.navbar-register p {
  margin-left: 5px;
}
.navbar-login:hover, 
.navbar-register:hover {
  color: grey;
}


